
#ba-advent-pageWrapper {
	position: absolute;
    top:0;
    left:0;
	height : 600px;
	width : 960px;
}

#ba-advent-pageWrapper * {
	font-family: Arial,Verdana,sans-serif;
	color: white;
}

#ba-advent-day-headline {
	font-size: 24px;
	padding-top: 15px;
}

#ba-advent-day-redeem {
	background-image: url('../img/button.png');
	background-repeat: no-repeat;
	width: 126px;
	height: 30px;
    line-height: 30px;
	position: absolute;
	bottom: 15px;
	left : 50%;
	margin-left: -63px;
    font-weight: bold;
    display : block;
}


.ba-advent-share-wrapper {
	position : absolute;
    right : 0;
    height : 40px;
    top:50%;
    margin-top: -20px;
    width : 200px;
    display:none;
}
.ba-advent-popup-close {
	position: absolute;
	width: 13px;
	height: 13px;
	top : 10px;
	right :10px;
    background-image: url('../img/close.png');
    background-repeat: no-repeat;
}

#ba-advent-day {
	font-size: 16px;
	padding-top: 5px;
}


#ba-advent-day-wrapper {
    display:none;
}


#ba-advent-popup-wrapper {
    position : absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    background-color: #003366;
    opacity: 0.75;
    z-index: 21;
    display:none;
}
.ba-advent-popup {
	display : none;
	position : absolute;
	top: 50%;
	left : 50%;
	z-index: 22;
	padding: 30px;
    background-color: white;
    border-radius: 2px;
}

#ba-advent-form-window {
	width : 580px;
	height : 304px;
	margin-top: -212px;
	margin-left: -290px;

}

#ba-advent-form-window * {
    color : #003366;
}

#ba-advent-form-title {
    font-size: 24px;
}

#ba-advent-form-subtitle {
    font-size: 16px;
    padding-top:7px;
    padding-bottom:7px;
}

.ba-advent-form-label {
    font-size: 12px;
}

.ba-advent-form-copy {
    font-size: 12px;
}

#ba-advent-form-text {

}

#ba-advent-video-window {
	width : 560;
	height : 315px;
	margin-top: -188px;
	margin-left: -310px;
}

#ba-advent-title {
	width : 429px;
	height : 68px;
}

#ba-advent-loading-wrapper {

    height : 600px;
    width : 960px;
    position : absolute;
    top:0;
    left:0;
    background-color: black;
    background-repeat: no-repeat;
    background-image: url('../img/intro.jpg');
    display:block;
    z-index: 999;
}

.ba-advent-calendar-wrapper
{

	height : 600px;
	width : 960px;
	position : absolute;
    top:0;
    left:0;
	background-image: url('../img/plane.png');
	background-repeat: no-repeat;
    display:none;

}

.ba-advent-header {
	height : 110px;
	text-align: center;
	padding-top: 36px;
	position: absolute;
	top :0;
	left: 0;
	width : 100%;
	z-index: 11;
}
.ba-advent-footer {
	position: absolute;
	top : 480px;
	left:0px;
	height : 120px;
	width : 100%;
	background-color : #1a304e;
	opacity: 0.75;
	text-align: center;
	z-index: 11;
}

.ba-advent-top-mask {
	position : absolute;
	left : 0;
	top : 0;
	height : 600px;
	width : 960px;
	background-image: url('../img/night.png');
	pointer-events:none;
	display : block;

	z-index:10;
}


.ba-advent-window-frame {
	position: absolute;
	top:0;
	left:0;
	width : 320px;
	height : 365px;
	background-image: url('../img/window.png');
	background-repeat: no-repeat;
	z-index: 3;


}

.ba-advent-window-lights {
	background-image: url('../img/lights.png');
	position: absolute;
	top:20px;
	left:0;
	z-index: 20;
	width : 320px;
	height : 346px;
}

.ba-advent-door-wrapper {
	position : absolute;
	overflow: hidden;
	left : 50px;
	top : 63px;
	width : 218px;
	height : 252px;
	max-width : 218px;
	max-height : 251px;
	/* for flicking on safari... TODO sort this */
	-webkit-transform: translate3d(0,0,0);
}

.ba-advent-door-number {
    width :218px;
    height  :252px;
    position : absolute;
}

.ba-advent-day-image {
	width : 218px;
	height : 251px;
	z-index: 1;
    display : none;
    position: absolute;
    top:0;
    left:0;
}

.ba-advent-door {
	position: absolute;
	top:0px;
	left:0px;
	width : 218px;
	height : 251px;
	background-repeat: no-repeat;
	z-index: 2;
}

#ba-advent-carousel-wrapper
{
	width : 100%;
	height : 600px;
	max-height : 600px;
	overflow: hidden;
	position : absolute;
	top: 110px;
	left:0;
	/*display : none;*/
}

.ba-advent-nav
{
	position: absolute;
	top : 50%;
	margin-top:-38px;
	width : 75px;
	height : 75px;
	z-index: 20;
	background-repeat: no-repeat;
    display:none;
}


#ba-advent-next
{
	right : 0;
	background-image: url('../img/next.png');

}

#ba-advent-prev
{
	left : 0;
	background-image: url('../img/prev.png');
}

.ba-advent-form-terms {
    position : absolute;
    right : 0;
    bottom : 80px;
    width : 50%;
    font-size: 12px;

}

span.ba-advent-form-required{
    color : red !important;
}




#ba-advent-form table,#ba-advent-form table td , #ba-advent-form table tr{
    padding : 0px;
}

#ba-advent-form table td{
    padding-top:6px;
    padding-right:10px;
}



#ba-advent-form-submit {
    display : block;
    width :126px;
    height:30px;
    background-image: url('../img/submit.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom : 30px;
    right :30px;
}