
body {
    background-color: #15375D;
}

* {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#ba-advent-slider {
    -webkit-transform: translate3d(0,0,0);
}


#ba-advent-pageWrapper {

}

* {
    border :0;
    padding: 0;
    margin: 0;
}



.ba-advent-top-mask {
    display: none;
}

.ba-advent-share-wrapper {
    display : none;
}

.ba-advent-door {
    -webkit-transition: all 400ms ease-out;
}

* {
    -webkit-background-size: 100% 100%;
}