#ba-advent-pageWrapper {
    position: absolute;
    top:0;
    left : 0;
    height : 300px;
    width : 480px;
    margin-left : 0;
    margin-top : 0;
}



#ba-advent-title {
    width : 215px;
    height : 34px;
}


#ba-advent-loading-wrapper {

    height : 300px;
    width : 480px;
}


.ba-advent-calendar-wrapper
{

    height : 300px;
    width : 480px;
}


.ba-advent-nav
{
    margin-top:-18px;
    width : 37px;
    height : 37px;
    z-index: 20;
    background-repeat: no-repeat;
    display:none;
}


#ba-advent-carousel-wrapper
{
    height : 300px;
    max-height : 300px;
    top: 55px;
}



.ba-advent-door ,.ba-advent-day-image,.ba-advent-door-wrapper,.ba-advent-door-number{
    width : 109px;
    height : 125px;
}




.ba-advent-door-wrapper
 {
    left : 25px;
    top : 31px;
}


.ba-advent-window-frame {
    width : 160px;
    height : 182px;


}

.ba-advent-window-lights {
    top:10px;
    left:0;
    z-index: 20;
    width : 160px;
    height : 173px;
}


.ba-advent-top-mask {
    height : 300px;
    width : 480px;
}

.ba-advent-footer {
    top : 240px;
}

.ba-advent-header {
    height : 55px;
    padding-top: 18px;

}

